<div class='news'>
  <h1> News </h1>
</div>
<ul class='main-list well'>

  <% @posts.each do |post| %>

    <div class='title'><%= link_to post.title, post %></div>
    <div class='body'><%= simple_format(post.body) %> 
 
      <a href="<%= edit_post_path post %>" class='pull-right btn btn-mini'><i class='icon-edit'></i></a>
      <a href="<%= post_path post %>" class='pull-right btn btn-danger btn-mini' data-confirm="Are you sure?" data-method="delete"><i class='icon-remove'></i></a>
      <a href="<%= post_path post %>" class='pull-right'> Read More </a>


    </div>

  <% end %>
</ul>
      <a href="<%= new_post_path %>" class='btn btn-small pull-right'> New Post </a>