<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class = 'navbar'>
		<div class = 'navbar-inner'>
			<div class = 'container'>
				<div class = 'brand'> <a href="<%= root_path %>"><h10> GunnerThai </h10> </a></div>
					<ul class = 'nav'>
					<li><a href="<%= posts_path %>"> News </a></li>
					</ul>
					<ul class='nav pull-right'>
						<li><a href="<%= '#' %>"> Register </a></li>
						<li><a href="<%= '#' %>"> Sign in </a></li>
						
           			</ul>
				</div>
				
			</div>
		</div>

	</div>



<div class = 'container-fluid'>
<%= yield %>
</div>

</body>
</html>
